obj/AlgoExpert.csproj.nuget.dgspec.json
obj/AlgoExpert.csproj.nuget.g.props
obj/AlgoExpert.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/AlgoExpert.AssemblyInfo.cs
obj/Debug/net6.0/AlgoExpert.AssemblyInfoInputs.cache
obj/Debug/net6.0/AlgoExpert.assets.cache
obj/Debug/net6.0/AlgoExpert.csproj.AssemblyReference.cache
obj/Debug/net6.0/AlgoExpert.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/AlgoExpert.csproj.FileListAbsolute.txt
obj/Debug/net6.0/AlgoExpert.dll
obj/Debug/net6.0/AlgoExpert.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/AlgoExpert.genruntimeconfig.cache
obj/Debug/net6.0/AlgoExpert.GlobalUsings.g.cs
obj/Debug/net6.0/AlgoExpert.pdb
obj/Debug/net6.0/apphost
obj/Debug/net6.0/ref/AlgoExpert.dll
obj/Debug/net6.0/refint/AlgoExpert.dll
bin/Debug/net6.0/AlgoExpert
bin/Debug/net6.0/AlgoExpert.deps.json
bin/Debug/net6.0/AlgoExpert.dll
bin/Debug/net6.0/AlgoExpert.pdb
bin/Debug/net6.0/AlgoExpert.runtimeconfig.json
.vs/AlgoExpert/xs/UserPrefs.xml
.vs/AlgoExpert/xs/project-cache/AlgoExpert-Debug.json
